.section_hero {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: linear-gradient(#b189c5,#cd87ad 26%,#fe8282 61%,#ffcc8d 84%);
}

.hero-wrapper {
  display: grid;
  width: 100vw;
}

[class*='hero-']:not(.hero-wrapper) {
  grid-area: 1 / 1;
  transform-style: preserve-3d;
  will-change: transform;
}

.hero-1 {
  z-index: 19;
  transform: translate(0, 1%);
}

.hero-2 {
  z-index: 18;
}

.hero-3 {
  z-index: 17;
}

.hero-4 {
  z-index: 16;
}

.hero-5 {
  z-index: 15;
}

.hero-6 {
  z-index: 6;
}

.hero-7 {
  z-index: 6;
}

.hero-8 {
  z-index: 4;
}

.hero-9 {
  z-index: 3;
}

.hero-10 {
  z-index: 6;
}

.hero-11 {
  z-index: 10;
  animation: train 8s infinite;
}

.hero-12{
  z-index: 1;
}


.hero-cloud8 {
  z-index: 14;
}

.hero-cloud7 {
  z-index: 13;

}

.hero-cloud6 {
  z-index: 12;
}

.hero-cloud5 {
  z-index: 11;
}

.hero-cloud4 {
  z-index: 10;
}

.hero-cloud3 {
  z-index: 9;
}

.hero-cloud2 {
  z-index: 8;
}

.hero-cloud1 {
  z-index: 7;
}


@keyframes train {
  0% {
    transform: translate3d(-30%, 0%, 0);
  }
  100% {
    transform: translate3d(100%, 0%, 0);
  }
}