.clients{
  color: #ece8e6;
  background-color: #12147f;
  overflow: hidden;
}
.wrapper {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

[class*='clients-'], [class*='fish-'] {
  grid-area: 1 / 1;
  transform-style: preserve-3d;
  will-change: transform;
}

.clients-01{
  z-index: 1;
}

.clients-02{
  z-index: 2;
}

.clients-03{
  z-index: 3;
}

.clients-04{
  z-index: 3;
}

.clients-05{
  z-index: 4;
}

.clients-06{
  z-index: 3;
}
.clients-07{
  z-index: 1;
}

.fish-01{
  z-index: 3;
  width: 1rem;
  height: 1rem;
}

.fish-02{
  z-index: 6;
  width: 1rem;
  height: 1rem;
}

.fish-03{
  z-index: 3;
  width: 1rem;
  height: 1rem;
}

.fish-04{
  z-index: 3;
  width: 1rem;
  height: 1rem;
}

.masque_bottom {
  z-index: 50;
  width: 100%;
  height: auto;
  min-width: 40rem;
  position: absolute;
  top: auto;
  bottom: -1px;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 768px) {
  .fish-01{
    z-index: 3;
    width: 1.5rem;
    height: 1.5rem;
  }

  .fish-02{
    z-index: 6;
    width: 1.5rem;
    height: 1.5rem;
  }

  .fish-03{
    z-index: 3;
    width: 2rem;
    height: 2rem;
  }

  .fish-04{
    z-index: 3;
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .fish-01{
    z-index: 3;
    width: 2rem;
    height: 2rem;
  }

  .fish-02{
    z-index: 6;
    width: 2rem;
    height: 2rem;
  }

  .fish-03{
    z-index: 3;
    width: 2.5rem;
    height: 2.5rem;
  }

  .fish-04{
    z-index: 3;
    width: 1.75rem;
    height: 1.75rem;
  }
}

@media screen and (min-width: 1024px) {
  .fish-01{
    z-index: 3;
    width: 2.5rem;
    height: 2.5rem;
  }

  .fish-02{
    z-index: 6;
    width: 2.5rem;
    height: 2.5rem;
  }

  .fish-03{
    z-index: 3;
    width: 3.5rem;
    height: 3.5rem;
  }

  .fish-04{
    z-index: 3;
    width: 2.5rem;
    height: 2.5rem;
  }
}
