.form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
}

.button {
  background-color: #0c1c70;
  padding: 10px;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
  width: 260px;
}