* {
  margin: 0;
  padding: 0;
}

  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
    border: 0;
  }

  body {
    background-color: #2f122e;
    font-family: Poppins, sans-serif;
    color: #e4b3a3;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  h1, h2 {
    margin: 0;
  }

  .page-wrapper {
    font-size: 1rem;
    line-height: 1.5rem;

  }

  .section_hero {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }

  .hero-wrapper {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
  }

  [class*='hero-']:not(.hero-wrapper) {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
  }

  .hero-1 {
    z-index: 19;
    transform: translate(0, 12px);
  }

  .hero-2 {
    z-index: 18;
  }

  .hero-3 {
    z-index: 17;
  }

  .hero-4 {
    z-index: 16;
  }

  .hero-5 {
    z-index: 15;
  }

  .hero-6 {
    z-index: 6;
  }

  .hero-7 {
    z-index: 5;
  }

  .hero-8 {
    z-index: 4;
  }

  .hero-9 {
    z-index: 3;
  }

  .hero-10 {
    z-index: 2;
  }

  .hero-11 {
    position: relative;
    z-index: 1;
  }

  .hero-cloud8 {
    z-index: 14;
  }

  .hero-cloud7 {
    z-index: 13;

  }

  .hero-cloud6 {
    z-index: 12;
  }

  .hero-cloud5 {
    z-index: 11;
  }

  .hero-cloud4 {
    z-index: 10;
  }

  .hero-cloud3 {
    z-index: 9;
  }

  .hero-cloud2 {
    z-index: 8;
  }

  .hero-cloud1 {
    z-index: 7;
  }


  @keyframes moveCloudGroup1 {
    0% {
      transform: translate3d(0%, 0%, 0);
    }
    100% {
      transform: translate3d(-50%, 0%, 0);
    }
  }

  .section-content {
    display: flex;
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-image: linear-gradient(180deg, #2f122e, #020016);
  }

  .padding-global {
    width: 100%;
    height: auto;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
  }

  .container.text-align-left {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    flex-direction: row;
  }
  .container.align-center {
    align-items: center;
    text-align: center;
  }

  .heading-content-h1 {
    margin-bottom: 0rem;
    font-size: 4rem;
    line-height: 4rem;
    text-transform: uppercase;
  }

  .heading-content-h2 {
    margin-bottom: 0;
    background-image: url("https://assets.website-files.com/607bec7082b45011f6bea82e/607bec7082b450b3cabea838_bg.png");
    background-position: 50% 0%;
    background-size: cover;
    background-attachment: scroll;
    font-size: 8rem;
    line-height: 7rem;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .text-size-medium {
    margin-bottom: 0rem;
    font-size: 1.125rem;
    line-height: 1.625rem;
  }

  .section-footer {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #020016;
  }


  .footer-background{
    position: relative;
    left: auto;
    top: 0%;
    right: auto;
    bottom: 0%;
    z-index: 0;
    display: flex;
    width: 100%;
    height: auto;
    max-width: 120rem;
    margin-right: auto;
    margin-left: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .container-footer {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }


  .heading-style-h2 {
    margin-bottom: 0rem;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;
  }

  .heading-style-h2.color-style-white {
    color: #ececec;
  }

  .text-size-xlarge.color-style-white {
    color: #ececec;
  }

  .text-size-xlarge {
    margin-bottom: 0rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  button{
    display: flex;
    min-height: 64px;
    padding: 0px 64px;
    justify-content: center;
    align-items: center;
    background-color: #531431;
    color: #e4b3a3;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    margin-top: 80px;
  }

  .text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
